
    <div class="sidebar" data-color="white" data-active-color="danger">
            <div class="logo">
             
              <a  style="color:rgba(0, 0, 0, 0.5);font-weight:bold;padding-bottom:2vmin;" href="http://www.opticharge.io" class="simple-text logo-normal  text-center">
               Opticharge
                
              </a>
              <a  href="#" style="color:#424242;font-size:14px;font-weight: bold;padding-left:14vmin;">
                            
                           
                    <img src="../../assets/img/dashboard/image.png" class="rounded-circle" alt="Cinque Terre" width="60" height="60"> 
                    <a  style="color:#424242;font-weight: bold;" href="#" class="simple-text logo-normal  text-center">
                        Fedala Amira
                         
                       </a>
                       <a  style="color:#C4C4C4;font-size:10px;margin-top:-4vmin;" href="#" class="simple-text logo-normal  text-center">
                        Alger
                         
                       </a>
        
            </a>
          </div>
            <div class="sidebar-wrapper">
              <ul class="nav">
                <li class="active ">
                  <a href="./dashboard.php">
                    <i class="nc-icon nc-bank"></i>
                    <p>Dashboard</p>
                  </a>
                </li>
                <li>
                        <a href="./user.php">
                          <i class="nc-icon nc-single-02"></i>
                          <p>Profil</p>
                        </a>
                      </li>
                <li>
                    
                  <a href="./charges.php">
                    <i class="nc-icon nc-app"></i>
                    <p>Charges</p>
                  </a>
                </li>
                <li>
                  <a href="./activites.php">
                    <i class="nc-icon nc-sound-wave"></i>
                    <p>Activités</p>
                  </a>
                </li>
                <li>
                  <a href="./camions.php">
                    <i class="nc-icon nc-box-2"></i>
                    <p>Camions</p>
                  </a>
                </li>
                <li>
                    <a href="./chauffeurs.php">
                      <i class="nc-icon nc-box-2"></i>
                      <p>Chauffeurs </p>
                    </a>
                  </li>

              </ul>
            
            </div>
          </div>
         